<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/profile.css" rel="stylesheet">

    <title>Profile</title>
</head>
<body>
    <%- include('partials/_nav') %>
    <div class="profile m-4">
        <div class="profile-info width-50">
    <img src="/assets/profile%20stock%201.png" class="profile-img width-50 ">
            <p class="m-1 fs-1"> Mark Robert</p>
            <p class="location m-1 fs-2">Rishon Lezion,Israel</p>
        </div>
        <div class="activities d-block">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start fs-3" id="sells">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sells</div>
                        Active Sells
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start fs-3" id="orders">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Orders</div>
                        Previous Orders
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
            </ol>

        </div>

    </div>
    <div class="data"></div>
<script src="/scripts/profile.js"></script>
</body>
</html>
