*{
    font-family: 'Montserrat', sans-serif;
}
.activities{
    font-size: 0.5rem;
}
.profile-info{
    font-size: 0.75rem;
}
.location{
    font-size: 0.5rem;
}
.profile{
    float: left;
}
.profile-img{
    border-radius: 50%;
    width: 15vh;
}
.list-group-item{
}
.list-group-item:hover{
    cursor: pointer;
}
.profile-img {
    width: 50%;
    height: 50%;
    max-width: 250px;
    max-height: 250px;
}
#map{
    width:clamp(200px,15vw,400px);
}
