*{
    color : black !important;
}
body{
    height: 100vh;
    overflow: hidden;
}
.btn-primary{
    background-color: #DE681D !important;
    border: none !important;
}

.record-img{
    position: absolute;
    width: 20%;
    height: 40%;
    display: inline;
    right: -120px;
    transition: all 0.8s ease-in-out;
    transform-origin:50%;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;

}

.record-img:hover{
    -webkit-transform : rotate(180deg) scale(1.1); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(180deg) scale(1.1); /* IE 9 */
    transform         : rotate(180deg) scale(1.1); /* Firefox 16+, IE 10+, Opera */

}
